<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMU AIA File Upload Server - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>CMU AIA Class File Upload Server</h1>

        <h2 >Login (Shh... Secret: I am vulnerable)</h2>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter your username" required />

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required />

            <input type="submit" value="Login" />
        </form>
        <p> <b>The system "admin" is on leave today. Do you wanna login and take his job?</b></p>
        <br>
        <p><i>Note: This is a vulnerable application and is for testing purposes only.</i></p>
    </div>
</body>
</html>
